.ololo {
  color: black !important;
}

.menu {
  border: none !important;
}

.segment-home {
  align-items: center !important;
}

.home-image {
  margin-bottom: 15px;
}

.sum-result {
  width: 100%;
  text-align: center;
}

.nav {
  border-radius: 0 !important;
}

.action-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0 15%;
}

.actions-btn {
  width: 25%;
}
